* {
	box-sizing: border-box;
	padding:0;
	margin:0 ;
}

html {
  font-size: -moz-calc(4px + 0.45vw);
  font-size: -webkit-calc(4px + 0.45vw);
	font-size: calc(4px + 0.45vw);
}
body {
	font-family: 'Montserrat', sans-serif;
	color: #000;
}
a {
	text-decoration: none;
	color: #000;
}
*:focus {
  outline: 0;
}
/* Primary Style
--------------------------------*/

header {
	background-color: #89817D;
	line-height: 56px;
	height: 56px;
	width: 100%;
	position:relative;
}
header h1 {
	color:#eaeaea;
	font-size: 24px;
	font-family: sans-serif;
	font-weight: 350;
	margin-left: 74px;
	position: absolute;
	top:0;
	line-height: 56px;
}
header ul{
	position: absolute;
	right:150px;
	top:0;
	line-height:56px ;
}
header li{
	display: inline;
	margin-right: 4vw;
}
header a{
	color:#eaeaea;
	text-decoration: none;
	font-size: 16px;
}
header a:hover{
	text-decoration: underline;
}
.small-title {
	/* float: left; */
	width: 12.5%;
	text-align: center;
	text-transform: uppercase;
}
.text {
	font-size: 2rem;
	padding: 2rem 0;
	-moz-columns: 3;
	-webkit-columns: 3;
	columns: 3;
}
.text p {
	margin-bottom: 2rem;
}
@media screen and (max-width: 800px) {
	header ul li:not(:nth-child(4)) {
		display: none;
	}
	header ul li:nth-child(4) {
		width: 100%;
	}
}
/* Slider Style
--------------------------------------*/
.cd-slider {
	position: relative;
	width: 100%;
	height: 50rem;
	overflow: hidden;
	margin-bottom: 8rem;
}
.cd-slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: visibility 0s 1s;
  will-change: visibility;
}
.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	clip: rect(0, 80rem, 50rem, 80rem);
	transition: clip .5s cubic-bezier(0.99, 0.01, 0.45, 0.9) .5s;
  will-change: clip;
}
.content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 2rem 0 0 2rem;
	font-size: 7rem;
	text-align: right;
	color: #89817D;
}
.content h2 {
	text-overflow: ellipsis;
	overflow: hidden;
	transform: translateY(-30%);
	opacity: 0;
	transition: transform .5s, opacity .5s;
  will-change: transform, opacity;
}
.content a {
	display: inline-block;
	font-size: 2rem;
	text-transform: lowercase;
	padding: 1.5rem;
	opacity: 0;
	transform: translateY(-100%);
	transition: transform .5s .1s, opacity .5s .1s;
  will-change: transform, opacity;
  color: #89817D;
}
.content a:hover{
	text-decoration: underline;
}
/* Current Slide 
-------------------------------------*/
li.current {
	visibility: visible;
	transition-delay: 0s;
}
li.current .image {
	clip: rect(0, 80rem, 50rem, 0);
}
li.current .content h2 {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1s;
}
li.current .content a {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1.1s;
}
/* Prev Slide 
------------------------------------*/
li.prev_slide .image {
	clip: rect(0, 0, 50rem, 0);
}
nav {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #eaeaea;
	z-index: 2;
}
.prev, .next, .counter {
	vertical-align: middle;
}
.prev, .next {
	position: relative;
	display: inline-block;
	height: 5rem;
	width: 5rem;
  border: 0;
  cursor: pointer;
  background: transparent;
}
.prev::before, .next::before {
	content: '';
	position: absolute;
	top: 50%;
  left: 0;
	transform: translateY(-50%);
	border: .8rem solid transparent;
	border-right-width: 1rem;
	border-right-color: #000;
	border-left-width: 0;
	width: 0;
	height: 0;
}
.prev::after, .next::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateZ(0);
	left: .5rem;
	background: #000;
	height: .1rem;
	min-height: 1px;
	width: 2.5rem;
	transition: width .3s;
}
.next::before {
	right: 0;
  left: auto;
	border-left-width: 1rem;
	border-left-color: #000;
	border-right-width: 0;
}
.next::after {
	right: .5rem;
	left: auto;
}
.counter {
	display: inline-block;
	font-size: 4rem;
	font-family: sans-serif;
	font-weight: 300;
	color: rgb(116, 100, 91);
}
.counter span:last-child::before {
	content: '/';
	margin: 0 1rem;
}
.prev:hover::after, .next:hover::after {
	width: 3.5rem;
}
/*projects段落*/
.projects{
	display: flex;
	flex-wrap: wrap;
	background-color: #B8AEA8;
	width:100%;
	padding: 40px 72px 35px;
	justify-content: space-between;
}
.projects p1{
	width: 100%;
	text-align: center;
	font-size: 32px;
	margin-bottom:30px;
	color: #eaeaea;
  }
.projects div{
	position: relative;
	width: 416px;
	margin: 15px;
	align-items: center;
	text-align: center;
}
.projects img{
	width: 416px;
	height: 270px;
}
.projects p{
	font-size: 20px;
	margin: 10px;
	align-items: center;
}
.projects a{
	color: #eaeaea;
}
.projects a:hover{
	text-decoration: underline;
}
/*others段落*/
.others{
	display: flex;
	flex-wrap: wrap;
	background-color: #eaeaea;
	width:100%;
	margin-top: 40px 72px 35px;
	padding: 60px;
	justify-content: space-between;
}
.others p{
	width: 100%;
	text-align: center;
	font-size: 32px;
	margin-bottom:30px;
	color: #89817D;
}
.container {
	position: relative;
	width: 416px;
	height: 270px;
	margin: 15px;
	align-items: center;
  }
.container img{
	width: 416px;
	height: 270px;
	display:block;
}
.overlay {
	position:absolute;
	bottom: 0;
	background: rgb(116, 100, 91);
	background: rgba(116, 100, 91, 0.8); /* color see-through */
	color: #eaeaea;
	width: 100%;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	height:40px;
	bottom: 0;
	text-align: center;
	line-height: 40px;
	justify-content: center;
  }
.container:hover .overlay {
	opacity: 1;
  }
.menu{
	display: none;
}

/* RWD */

@media screen and ( max-width: 600px ) {
	header ul{
		display: none;
	}
	header h1{
		left:50%;
		transform: translateX(-95%);
	}
	.menu{
		display: block;
		background-color: transparent;
		color:#eaeaea;
		font-size: 28px;
		position: absolute;
		top: 8px;
		left: 15px;
		border:none ;
		cursor: pointer;
	}
	.content{
		color: white;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.content a{
		color: white;
	}
	.image { width: 100%; }
	.content { padding-right: 2rem; }
	nav { left: 0; right: auto; }
	.projects{
		flex-direction: column;
		padding: 60px 0;
		align-items: center;
	}
	.projects div{
		align-items: center;
		width: 90%;
	}
	.others{
		align-items: center; 
		flex-direction: column;
		padding: 60px 0;	
	}
	header h1{
		font-size: 14px;
		align-items: center;
		position: absolute;
	}
	.projects img{
		width: 300px;
		height: 195px;
		align-items: center;
	}
	.container{
		width: 300px;
		height: 195px;
	}
	.container img{
		width: 300px;
		height: 195px;
		align-items: center;
	}
	.overlay{
		position: absolute;
		width: 300px;
		height: 20px;
		font-size: 14px;
		line-height: 20px;
		bottom: 0;
		align-items:center ;
		justify-content: center;
	}
}
